body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0;
    height: 100vh;
}
.container{
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: black;
}
.cal_display{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #f1f1f1;
    font-size: 15px;
    margin-bottom: 20px;
}
.cal_buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
button{
    background-color: rgb(255, 203, 107);
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
button:hover{
    opacity: 0.8;
}
button.equals{
    grid-column: span 2;
}
